<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head> 
  <meta charset="utf-8" />


<!-- Meta
================================================== -->
  <title>
    {{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}" />
  {% render 'social-meta-tags' %}
  {% render 'structured-data' %}

<!-- CSS
================================================== -->
  {{ 'alice-carousel.css' | asset_url | stylesheet_tag }}
  {{ 'stylesheet.css' | asset_url | stylesheet_tag }}

  {% if page_title == 'Interchangeability' %}
    {{ 'landing-page.scss' | asset_url | stylesheet_tag }}
  {% endif %}

 <!-- Body font
================================================== -->
  <link rel="stylesheet" href="https://use.typekit.net/bxc4sfc.css">


<!-- JS
================================================== -->
  {{'//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js' | script_tag }}
  {{ "eventemitter3.min.js" | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Favicons
================================================== -->
  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}

{{ content_for_header }}
<!-- {% render 'usf' %} -->

<!-- Klaviyo -->
<script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=T23mjB"></script>

<!-- Google Ads
================================================== -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-180453473-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-180453473-1');
</script>

<script
  src="https://static-us.afterpay.com/javascript/present-afterpay.js"
></script>

<script src="https://js.afterpay.com/afterpay-1.x.js" data-analytics-enabled
        async
  type="text/javascript"
  data-min="35.00"
  data-max="2000.00"
></script>

<script>(function(w,d,t,r,u){var f,n,i;w[u]=w[u]||[],f=function(){var o={ti:"56370312"};o.q=w[u],w[u]=new UET(o),w[u].push("pageLoad")},n=d.createElement(t),n.src=r,n.async=1,n.onload=n.onreadystatechange=function(){var s=this.readyState;s&&s!=="loaded"&&s!=="complete"||(f(),n.onload=n.onreadystatechange=null)},i=d.getElementsByTagName(t)[0],i.parentNode.insertBefore(n,i)})(window,document,"script","//bat.bing.com/bat.js","uetq");</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WRT23V9');
</script>
<!-- End Google Tag Manager -->
  
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRT23V9" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- HEAP -->
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=document.createElement("script");r.type="text/javascript",r.async=!0,r.src="https://cdn.heapanalytics.com/js/heap-"+e+".js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(r,a);for(var n=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],o=0;o<p.length;o++)heap[p[o]]=n(p[o])};
  heap.load("559853633");
</script>


<script type="text/javascript">
  (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/yTqbcAqAOLbG8dXBwuwR59fc1TTQI8hesxMF3qqO/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>

<script src="https://cdn.optimizely.com/js/20193727087.js"></script>

{% if handle contains 'exclusive' %}
  <meta name="robots" content="noindex">
{% endif %}
{% render 'webpack-scripts-modules' %}
{% render 'webpack-scripts-global' %}

{% if template.name == 'index' %}
  {% render 'webpack-scripts-main' %}
{% endif %}
{% if template.name == 'product' %}
  {% render 'webpack-scripts-products' %}
{% endif %}
{% if template.name == 'collection' %}
  {% render 'webpack-scripts-collections' %}
{% endif %}
{% if template.name == 'page' %}
  {% render 'webpack-scripts-pages' %}
{% endif %}
  <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/F2xxQINWW8fMR3B2WCWIXQ" async></script>
</head>

<body class="gridlock shifter shifter-left {% if template contains 'product' %}product{% elsif template contains 'collection' %}collection{% else %}{{ template | handleize }}{% endif %}">
  {% section 'mobile-navigation' %}

  {% render 'timber-cart' %}
  <div class="shifter-page{% if settings.ajax_cart_method == 'drawer' %} is-moved-by-drawer{% endif %}" id="PageContainer">
    {% section 'desktop-announcement' %}
    {% section 'header' %}

    <!-- {% render 'collection-banner' %} -->
    {% section 'collections-hero' %}
    {% section 'sales-hero' %}
    {% section 'black-friday-sales-hero' %}
    {% section 'cyber-monday-sales-hero' %}

    {% assign full_width_page = false %}
    {% if template == 'index' or template == 'blog' or template == 'article' or template contains 'collection.custom' or template contains 'list-collections' or template contains 'page.custom' or template contains 'product' %}
      {% assign full_width_page = true %}
    {% endif %}

    {% if template contains 'product' and settings.breadcrumb %}
      <div class="row">
        {% render 'breadcrumb',
            product: product,
            collection: collection %}
      </div>
    {% endif %}

    <div id="content"{% unless full_width_page %} class="row"{% endunless %}>
      {% unless template contains 'product' %}
        {% if settings.breadcrumb and full_width_page == true %}
          <div class="row">
            {% render 'breadcrumb',
                product: product,
                collection: collection %}
          </div>
        {% elsif settings.breadcrumb and full_width_page == false %}
          {% render 'breadcrumb',
              product: product,
              collection: collection %}
        {% endif %}
      {% endunless %}
      {{ content_for_layout }}
    </div>

    {% section 'footer' %}

    {% if settings.popup %}
      {% render 'popup' %}
    {% endif %}

    {% if settings.show_notfication and settings.notification_position == 'fixed-bottom' -%}
      {% render 'notification' %}
    {% endif %}
    <div id="bg-overlay"></div>
  </div>

  <div class="fancybox-wrapper"></div>

  {% if settings.ajax_cart_method == 'drawer' %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% render 'ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        ajaxCart.init({
          formSelector: '.product_form',
          cartContainer: '#CartContainer',
          addToCartSelector: '.AddtoCart',
          cartCountSelector: '.cart-count',
          cartCostSelector: '.CartCost',
          moneyFormat: {{ shop.money_format | json }}
       });
      });
      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    //initiating jQuery
    jQuery(function($) {
      if ($(window).width() >= 981) {
        $(document).ready( function() {
          $('.header-wrapper').stickUp();
        });
      } else {
        $(document).ready( function() {
          $('header').stickUp();
        });
      }
    });
  </script>

  <!-- Responsive Images -->
  {{ 'ls.rias.min.js' | asset_url | script_tag }}
  {{ 'ls.bgset.min.js' | asset_url | script_tag }}
  {{ 'lazysizes.min.js' | asset_url | script_tag }}

  <script>
      document.documentElement.className =
         document.documentElement.className.replace("no-js","js");
    jQuery( document ).ready(function() {
  jQuery('.rte-accordion.row .item-heading').hide();
});


  </script>

  <!-- JS Variable Helpers -->
<script>
    var template = {{ template | json }};
</script>

  <!-- Fancybox JS -->
 {{ 'jquery.fancybox.js' | asset_url | script_tag }}

  <!-- AccessiBE -->
  <script>
    if(sessionStorage.getItem("accessiBe") === "on"){
      (function(){ var s = document.createElement('script'), e = ! document.body ? document.querySelector('head') : document.body; s.src = 'https://acsbapp.com/apps/app/dist/js/app.js'; s.async = true; s.onload = function(){ acsbJS.init({ statementLink : '', footerHtml : '', hideMobile : false, hideTrigger : false, language : 'en', position : 'right', leadColor : '#146FF8', triggerColor : '#146FF8', triggerRadius : '50%', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerIcon : 'people', triggerSize : 'medium', triggerOffsetX : 20, triggerOffsetY : 20, mobile : { triggerSize : 'small', triggerPositionX : 'right', triggerPositionY : 'bottom', triggerOffsetX : 10, triggerOffsetY : 10, triggerRadius : '50%' } }); }; e.appendChild(s);}());
    }
  </script>
</body>
</html>
