<div id="page" class="desktop-12 tablet-6 mobile-3">
  <h1>{{ 'general.404.title' | t }}</h1>

  <p>{{ 'general.404.subtext' | t }}</p>

  <div id="search-bar">
    <form action="{{ routes.search_url }}" method="get">
      <h3>Search our store</h3>
      <input type="text" name="q" id="q" placeholder="{{ 'general.search.placeholder' | t }}" />
    </form>
  </div>

  <div style="margin-top: 20px;">
    {% render 'collection-listing', collection: collection %}
  </div>

  <h3 style="padding-top: 30px; margin-top: 30px;; clear: left; border-top: 1px solid {{ settings.dotted_color }}">
    {{ 'general.404.contact' | t }}
  </h3>

  {% render 'contact' %}

</div>
