<section class="landing-section">
  {{ 'landing-page-section-1.jpg' | asset_url | img_tag: 'section-1' }}
  <div class="quote-container">
    <div class="cta-container">
      <h1>One chair.<br>Endless possibilities.</h1>
      <p>Discover chairs with machine-washable covers that you can mix and match.</p>
      <div class="cta">
        <a href="/collections/all-chairs" tabindex="0">SHOP ALL STYLES</a>
      </div>
    </div>
  </div>
</section>

{% section 'react-value-prop' %}

<section class="landing-section section-chairs">
  <h1>Whatever your mood,<br>we’ve got you covered.</h1>
  <div class="chairs-container">
    <a class="chair-container" href="/collections/dining-chairs/products/the-classic-dining-chair-walnut">
      {{ 'Classic-dining-chair-light-sage-walnut-legs-three-quarter-view.jpg' | asset_url | img_tag: 'chair-1' }}
      <p>The Classic Dining Chair</p>
      <div class="color-picker-container">
        <img src="{{ 'Swatch_Cerulean.png' | asset_url }}" class="color-picker" alt="Cerulean" />
        <img src="{{ 'Swatch_ChiliRed.png' | asset_url }}" class="color-picker" alt="ChiliRed" />
        <img src="{{ 'Swatch_Chartreuse.png' | asset_url }}" class="color-picker" alt="Chartreuse" />
        <img src="{{ 'Swatch_DarkSage.png' | asset_url }}" class="color-picker" alt="DarkSage" />
        <span>+ more</span>
      </div>
      <p>$179</p>
    </a>
    <a href="/collections/all-chairs/products/the-classic-lounge-chair" class="chair-container">
      {{ 'Classic-lounge-chair-chili-red-black-legs-three-quarter-view.jpg' | asset_url | img_tag: 'chair-2' }}
      <p>The Classic Lounge Chair</p>
      <div class="color-picker-container">
        <img src="{{ 'Swatch_Cerulean.png' | asset_url }}" class="color-picker" alt="Cerulean" />
        <img src="{{ 'Swatch_ChiliRed.png' | asset_url }}" class="color-picker" alt="ChiliRed" />
        <img src="{{ 'Swatch_Chartreuse.png' | asset_url }}" class="color-picker" alt="Chartreuse" />
        <img src="{{ 'Swatch_DarkSage.png' | asset_url }}" class="color-picker" alt="DarkSage" />
        <span>+ more</span>
      </div>
      <p>$599</p>
    </a>
    <a href="/collections/dining-chairs/products/the-scandinavian-dining-chair" class="chair-container">
      {{ 'Scandinavian-dining-chair-cerulean-three-quarter-view.jpg' | asset_url | img_tag: 'chair-3' }}
      <p>The Scandinavian Dining Chair</p>
      <div class="color-picker-container">
        <img src="{{ 'Swatch_Cerulean.png' | asset_url }}" class="color-picker" alt="Cerulean" />
        <img src="{{ 'Swatch_ChiliRed.png' | asset_url }}" class="color-picker" alt="ChiliRed" />
        <img src="{{ 'Swatch_Chartreuse.png' | asset_url }}" class="color-picker" alt="Chartreuse" />
        <img src="{{ 'Swatch_DarkSage.png' | asset_url }}" class="color-picker" alt="DarkSage" />
        <span>+ more</span>
      </div>
      <p>$179</p>
    </a>
    <a href="/collections/all-chairs/products/the-scandinavian-lounge-chair" class="chair-container">
      {{ 'Scandinavian-lounge-maroon-three-quarter-view.jpg' | asset_url | img_tag: 'chair-4' }}
      <p>The Scandinavian Lounge Chair</p>
      <div class="color-picker-container">
        <img src="{{ 'Swatch_Cerulean.png' | asset_url }}" class="color-picker" alt="Cerulean" />
        <img src="{{ 'Swatch_ChiliRed.png' | asset_url }}" class="color-picker" alt="ChiliRed" />
        <img src="{{ 'Swatch_Chartreuse.png' | asset_url }}" class="color-picker" alt="Chartreuse" />
        <img src="{{ 'Swatch_DarkSage.png' | asset_url }}" class="color-picker" alt="DarkSage" />
        <span>+ more</span>
      </div>
      <p>$499</p>
    </a>
  </div>
</section>

<section class="landing-section section-2">
  {{ 'landing-page-section-2.png' | asset_url | img_tag: 'section-2' }}
  <div class="quote-container">
    <div class="cta-container">
      <h1>A chair for real life</h1>
      <p>Life is messy. Your chairs don’t have to be. With Levity furniture you are free to live boldly in your own home. Now in more colors to better fit you.</p>
      <div class="cta">
        <a href="/collections/all-chairs" tabindex="0">SHOP ALL COLORS</a>
      </div>
    </div>
  </div>
</section>

<section class="landing-section section-feature">
  <div class="feature">
    <img src="{{ 'washable.svg' | asset_url }}" class="feature-icon" alt="washable" />
    <h2>Machine-Washable</h2>
    <p>Don’t let a spill ruin your day. With machine-washable covers, cleanups are always easy.</p>
  </div>
  <div class="feature">
    <img src="{{ 'interchange.svg' | asset_url }}" class="feature-icon" alt="interchange" />
    <h2>Interchangeable</h2>
    <p>Never get bored with your look. Our 20+ cover designs are completely interchangeable.</p>
  </div>
  <div class="feature">
    <img src="{{ 'comfortable.svg' | asset_url }}" class="feature-icon" alt="comfortable" />
    <h2>Comfortable</h2>
    <p>Look good and feel good. High-resilience cushions offer a balance of firmness and softness.</p>
  </div>
</section>

<section class="landing-section section-3">
  <div>{{ 'landing-page-section-3.png' | asset_url | img_tag: 'section-3' }}</div>
  <div class="quote-container">
    <div class="cta-container center">
      <h1>The last chair you’ll ever buy</h1>
      <p>With our machine-washable and interchangeable Chair Covers, you will never have to replace or reupholster a chair again.</p>
      <div class="cta">
        <a href="/collections/all-chairs" tabindex="0">SHOP ALL STYLES</a>
      </div>
    </div>
  </div>
</section>

<section class="landing-section section-reviews">
  <h1>Customers love our washable dining and lounge chairs</h1>
  <div class="review">
    <div class="stars">
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
    </div>
    <p>"This is genuis, I would've never thought of using bungee for something like this, but it works well"</p>
    <p class="review-name">-Bailey</p>
  </div>
  <div class="review">
    <div class="stars">
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
    </div>
    <p>"It looks so good. No one would be able to tell that these come off. I can see myself showing this off at dinner parties."</p>
    <p class="review-name">-Patti</p>
  </div>
  <div class="review">
    <div class="stars">
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
      <img src="{{ 'star.svg' | asset_url }}" class="star" alt="star" />
    </div>
    <p>"Do I have to get up? I could spend the whole day right here."</p>
    <p class="review-name">-Jennifer</p>
  </div>
</section>

<section class="landing-section section-bottom center">
  <div class="cta">
    <a href="/collections/all-chairs" tabindex="0">SHOP NOW</a>
  </div>
</section>